<%- include("partials/header") %> 




    <!-- Container -->
    <div class="container">
        <!-- Navigation container-->
        <div class="navigation-container">
            <span class="backround"></span>
            <!-- Results Nav -->
            <span class="navigation-items" id="resultsNav" name="resultsNav">
                <!-- <h3 class="clickable" onclick="getNasaImages()">Load more</h3> -->
                <h3 class="clickable" onclick="location.reload()">Load more</h3>
            </span>
        </div>
        <!-- Images container -->
        <div class="images-container">
            <div class="card">

            </div>

        </div>
    </div>




<%- include("partials/script") %> 

<%- include("partials/footer") %> 

